<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>



    <!--<sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup> -->

    <sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      
      <!--     
     <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
    </sectionGroup>

  </configSections>

  <capabilities>
    <parallel>
      <add key="browserstack.debug" value="true" />
    </parallel>
  </capabilities>
  
  <appSettings>
    <add key="user" value="yogeshpawar7" />
    <add key="key" value="jvhFGqXMWapAU5hKkxnm" />
    <add key="server" value="hub-cloud.browserstack.com" />
  </appSettings>



  

  <environments>
    <chrome>
      <add key="browserName" value="chrome" />
    </chrome>
    <safari>
      <add key="browserName" value="safari" />
    </safari>
    <ie>
      <add key="browserName" value="ie" />
    </ie>
    <firefox>
      <add key="browserName" value="firefox" />
    </firefox>
    <!-- <meetu>
      <add key="browserName" value="meetu" />
    </meetu>
    <yogesh>
      <add key="browserName" value="yogesh" />
    </yogesh>-->
  </environments>

</configuration>
